.bg-img{
    z-index: -1;
    width: 98vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
}
body{
    height: 500px;
}
.navbar{
     background-color: rgba(138, 127, 180, 0.5);
}
.component{
    background-color: #695aa6;
}
.hi{
    margin-top: 200px;
}
.navbar-brand{
    font-family: font;
    font-size:30PX;
    font-weight:bolder;
}
.nav-link{
    font-family: font;
    color:white;
    
}
.nav-link:hover{
    
    color:white;
}
@font-face {
    font-family: font;
    src: url(font1.ttf);
}
.intro{
    font-family: font;
    font-size:65px;
    font-weight: 1000;
}
.btn{
    background-color: #695aa6;
    border-radius: 50px;
}
.section-title{
    color: #695aa6;
    font-family: font;
    font-weight: bold;
}
.card-title{
    color: #695aa6;
    font-weight:bold;
}
.portfolio-card-overlay-container {
    position: relative;
    display: inline-block;
}

.portfolio-card-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(105, 90, 166, 0.5); /* Semi-transparent overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.portfolio-card:hover .portfolio-card-overlay {
    opacity: 1;
}

.portfolio-card-caption {
    color: white;
    text-align: center;
}
.margin{
    margin-top: 255px;
}
/* Default - Large Screens */
@media (min-width: 992px) {
    .navbar-nav {
        flex-direction: row; /* Keep items horizontal */
    }
}

/* Small Screens (when toggler is clicked) */
@media (max-width: 991.98px) {
    .navbar-collapse {
        background-color:  rgba(138, 127, 180, 0.5); /* Set background color for small screen */
    }

    .navbar-nav {
        flex-direction: column; /* Stack items vertically */
        text-align: center; /* Center items */
    }

    .nav-item {
        margin: 0; /* Remove margin between items */
        padding: 10px 0; /* Add padding for spacing */
    }

    .navbar-nav .btn-block {
        width: 100%; /* Ensure buttons are full-width */
    }
}
